.infoFooter {
    background-color: hsl(0,0%,97%);
    padding-top: 0;
    padding-bottom: 0;
}

.reportFormCard {
    padding-left: 5px;
}

.reportFormLeft {
    border-right: 1px solid #CCCCCC;
}

.reportSubmitButton {
    z-index: 0;
}

.reportDeleteButton {
    margin-right: 10px;
}

.yearPlus {
    color: hsl(0,0%,40%);
    border-bottom: 1px dotted;
    cursor: pointer;
}

.InfoButton {
    margin-left: 10px;
}

.ReportFormCard {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin: 0;
}