.Link {
    color: inherit;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-align: right;
}

.IDCell {
    display: table;
}

.deqarID {
    padding-right: 0;
    text-align: right;
}

.deqarID::after {
    padding-left: 10px;
    content: "|";
}

.LocalID {
    padding-left: 10px;
    color: #666;
    text-align: left;
    font-size: 12px;
    white-space: pre-wrap;
}
