.ListGroup {
}

.ListGroupItem {
  border-style: dashed;
  vertical-align: middle;
  padding-left: 20px;
  min-height: 35px;
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.ListGroupItemDisabled {
  background-color: hsl(0,0%,95%);
}

.ListGroupItemHasError {
  border-color: #f86c6b;
}

.ListGroupItemName {
  color: hsl(0,0%,40%);
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: pointer;
  order: 1;
}

.Button {
  margin-top: 10px;
}

.removeButton {
  color: hsl(0,0%,80%);
  order: 2;
  text-align:right;
  flex-grow: 1;
  margin-left: 15px;
}

.removeButton:hover {
  color: hsl(0,0%,60%);
}